html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-image: linear-gradient(
        200deg,
        rgb(0, 255, 170),
        hsla(187, 100%, 69%, 0) 70%
      ),
      linear-gradient(130deg, rgb(236, 233, 236), hsla(300, 100%, 69%, 0) 70%),
      linear-gradient(330deg, #04bfd8, hsla(0, 4%, 9%, 0) 70%);
  }
}
